/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
#container {
	position: relative;
	top: 10px;
	width: 1000px;
	padding: 15px;
	margin: 0 auto;
	background-color: #D6F5F5;
	-moz-border-radius: 20px;
	border-radius: 20px; 
	-webkit-box-shadow: 2px 2px 1px #0065c9;
	-moz-box-shadow: 2px 2px 1px #0065c9;
	box-shadow: 2px 2px 1px #0065c9; 
}

#yield {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#header {
	text-align: center;
}
#header img {
	display: inline;
}
#logo_biomatec {
	width: 287px;
	height: 71px;
}

#logo_itesm {
	width: 167px;
	height: 82px;
}
#header h1 {
	font-size: 2em;
	font-weight: bold;
	color: #0066CC;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.resultsTable {
	margin: none;
	padding: none;
	border-collapse:collapse;
	border: none;
}

.dataSetTable {
	position: relative;
	left: 120px;
}

.resultsTable th, .resultsTable td {
	margin: none;
	padding: none;
}

.resultsTable-headerRow {
	font-weight: bold;
	text-align: center;
	background-color: #88C;
}

.resultsTable-dataRow {
	cursor: pointer;
}

.resultsTable-dataRow-selected {
	cursor: pointer;
	background-color: #BFB
}

.resultsTable-dataRow:hover {
	background-color: #BBF;
}

.resultsTable-dataRow-selected:hover {
	background-color: #9F9
}

.resultsTable-dataRow:active {
	background-color: #BCF;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}
