<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>GeneSearchServiceImpl</servlet-name>
    <servlet-class>biomatec.server.GeneSearchServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GeneSearchServiceImpl</servlet-name>
    <url-pattern>/genesearch/search</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>SearchSuggestionServiceImpl</servlet-name>
		<servlet-class>biomatec.server.SearchSuggestionServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SearchSuggestionServiceImpl</servlet-name>
		<url-pattern>/GWT/suggest</url-pattern>
	</servlet-mapping> 

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GeneSearch.html</welcome-file>
  </welcome-file-list>

</web-app>
